@model List<ProductosInventario.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear Categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].idcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idcategoria }) |
                @Html.ActionLink("Detallar", "Details", new { id = item.idcategoria }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idcategoria })
            </td>
        </tr>
}
    </tbody>
</table>
